{% do view.registerAssetBundle("wsydney76\\contentoverview\\assets\\ContentOverviewAssetBundle") %}

{% set transform = {width: 50, height: 50} %}

<div class="contentoverview">

    {% set settings =  craft.contentoverview.settings %}
    {% set site = craft.app.request.queryParam('site', craft.app.sites.primarySite.handle) %}

    {% for column in settings.layout.columns %}

        <div class="column-{{ column.width }}">
            {% for sectionSettings in column.sections %}

                {% set section = craft.app.sections.sectionByHandle(sectionSettings.handle) %}

                {% if currentUser.can("saveentries:#{section.uid}") %}
                    <div class="section">

                        {% set entries = craft.contentoverview.getEntries(section.handle, sectionSettings) %}


                        <div class="btns">
                            <h2>{{ section.name|t('site') }}</h2>
                            <a class="btn submit" href="{{ cpUrl("entries/#{section.handle}/new") }}">
                                {{ "New entry"|t('contentoverview') }}
                            </a>
                        </div>

                        {% if sectionSettings.image is defined %}
                            {% set entries = entries.with([
                                [sectionSettings.image, {withTransforms: [transform]}]
                            ]) %}
                        {% endif %}


                        {% include 'contentoverview/partials/entrieslist.twig' %}

                        <div class="btns">
                            <a class="btn" href="{{ cpUrl("entries/#{section.handle}") }}">
                                {{ "All entries"|t('contentoverview') }}
                            </a>
                        </div>

                    </div>
                {% endif %}


            {% endfor %}
        </div>
    {% endfor %}
</div>