{% set transforms = {
    list: {width: 50, height: 50},
    cards: {width: 400, height: 200},
    cardlets: {width: 150, height: 150},
} %}


{% set settings = settings ?? craft.contentoverview.settings %}
{% set site = craft.app.request.queryParam('site', craft.app.sites.primarySite.handle) %}


{% for tab in settings.tabs %}
    <div id="{{ "#{tab.id}" }}" class="co {{ loop.index > 1 ? 'hidden' }}">
        {% for column in tab.columns %}

            <div class="co-column-{{ column.width }}">
                {% for sectionSettings in column.sections %}

                    {% set section = craft.app.sections.sectionByHandle(sectionSettings.handle) %}
                    {% set layout = sectionSettings.layout ?? 'list' %}
                    {% set transform = transforms[layout] %}
                    {% set heading = sectionSettings.heading ?? section.name %}
                    {% set showButtons = sectionSettings.buttons is defined ? sectionSettings.buttons : true %}


                    {% if currentUser.can("saveentries:#{section.uid}") %}
                        <div class="co-section co-{{ layout }}">

                            {% set entries = craft.contentoverview.getEntries(sectionSettings) %}

                            <div class="co-btns">
                                <h2>{{ heading|t('site') }}</h2>
                                {% if showButtons%}
                                    <a class="btn submit" href="{{ cpUrl("entries/#{section.handle}/new") }}">
                                        {{ "New entry"|t('contentoverview') }}
                                    </a>
                                {% endif %}
                            </div>

                            {% if sectionSettings.image is defined %}
                                {% set entries = entries.with([
                                    [sectionSettings.image, {withTransforms: [transform]}]
                                ]) %}
                            {% endif %}


                            {% include 'contentoverview/partials/entrieslist.twig' %}

                            {% if showButtons %}
                                <div class="co-btns">
                                    <a class="btn" href="{{ cpUrl("entries/#{section.handle}") }}">
                                        {{ "All entries"|t('contentoverview') }}
                                    </a>
                                </div>
                            {% endif %}

                        </div>
                    {% endif %}


                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}

