{% set settings = settings ?? craft.contentoverview.settings %}

{% for tab in settings.tabs %}
    <div id="{{ "#{tab.id}" }}" class="co {{ loop.index > 1 ? 'hidden' }}">
        {% for column in tab.columns %}

            <div class="co-column-{{ column.width }}">
                {% for sectionSettings in column.sections %}

                    {% set section = craft.app.sections.sectionByHandle(sectionSettings.section) %}
                    {% set layout = sectionSettings.layout ?? settings.defaultLayout %}
                    {% set transform = settings.transforms[layout] %}
                    {% set heading = sectionSettings.heading ?? section.name %}
                    {% set showButtons = sectionSettings.buttons is defined ? sectionSettings.buttons : true %}


                    {% if currentUser.can("saveentries:#{section.uid}") %}
                        <div class="co-section co-{{ layout }}">

                            {% set results = craft.contentoverview.getEntries(sectionSettings) %}
                            {% set entries = results.entries %}

                            <div class="co-btns">
                                <h2>{{ heading|t('site') }}</h2>
                                {% if showButtons%}
                                    <a class="btn submit" href="{{ cpUrl("entries/#{section.handle}/new") }}">
                                        {{ "New entry"|t('contentoverview') }}
                                    </a>
                                {% endif %}
                            </div>


                            {% include 'contentoverview/partials/entrieslist.twig' %}

                            {% if sectionSettings.limit is defined and results.count > sectionSettings.limit %}
                                <div class="co-count">
                                    {{ results.count - sectionSettings.limit }} {{ "more entries"|t }}
                                </div>
                            {% endif %}

                            
                            {% if showButtons %}
                                <div class="co-btns">
                                    <a class="btn" href="{{ cpUrl("entries/#{section.handle}") }}">
                                        {{ "All entries"|t('contentoverview') }}
                                    </a>
                                </div>
                            {% endif %}

                        </div>
                    {% endif %}


                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}

