{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% set createEditorJs %}
    co_createElementEditor(
    {{ entry.canonicalId }},
    {{ entry.siteId }},
    {{ (not entry.isProvisionalDraft and entry.draftId) ? entry.draftId : "null" }},
    '{{ sectionPath }}',
    {{ pageNo }})
{% endset %}

<div class="co-entry {{ entry.isDraft ? 'draft' : 'published' }} {{ entry.isUnpublishedDraft ? 'provisional' }}">


    {% include [
        '_contentoverview/partials/entry_image.twig',
        'contentoverview/partials/entry_image.twig'
    ] %}


    {% set layout = sectionConfig.layout  ? sectionConfig.layout : settings.defaultLayout %}
    {% set levelStyle = entry.level and layout in ['list','line']  ? "padding-left: #{(entry.level-1)*32}px" : '' %}

    <div class="co-content co-level-{{ entry.level }}" style="{{ levelStyle }};">
        <div class="co-status" ondblclick="{{ createEditorJs }}">

            {% include [
                '_contentoverview/partials/entry_status.twig',
                'contentoverview/partials/entry_status.twig'
            ] %}

            {% include [
                '_contentoverview/partials/entry_popupInfo.twig',
                'contentoverview/partials/entry_popupInfo.twig'
            ] %}

        </div>
        <div class="co-text">
            <div class="co-title">

                {% include [
                    '_contentoverview/partials/entry_title.twig',
                    'contentoverview/partials/entry_title.twig'
                ] %}
            </div>

            <div class="co-info">
                {% include [
                    '_contentoverview/partials/entry_info.twig',
                    'contentoverview/partials/entry_info.twig'
                ] %}
            </div>
        </div>
    </div>
</div>