{# @params entry, settings, sectionConfig, createEditorJs #}

{# @var entry \craft\elements\Entry #}
{# @var image \craft\elements\Asset #}
{# @var settings \wsydney76\contentoverview\models\Settings #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% set iconData = sectionConfig.getIconData(entry) %}

{% if sectionConfig.getLayout() != 'line' %}
    <div class="co-image {{ settings.enableSlideoutEditor ? 'co-slideout' }}"
         style="background-color: {{ iconData.iconBgColor }}"
         onclick="{{ createEditorJs }}">

        {% set image = sectionConfig.getImage(entry) %}

        {% if image %}
            {% set altText = view.renderObjectTemplate(settings.altTemplate, image) %}
            {% if settings.useImagerX and craft.app.plugins.pluginEnabled('imager-x') %}
                {% set transformedImage = craft.imager.transformImage(image, transform) %}
                <img src="{{ transformedImage.url }}" alt="{{ altText }}">
            {% else %}
                {{ image.img(transform)|attr({alt: altText}) }}
            {% endif %}

        {% else %}
            {% set icon = iconData.icon ? view.renderObjectTemplate(iconData.icon, entry) : settings.defaultIcon %}
            {{ svg(icon)|attr(settings.iconSize) }}
        {% endif %}
    </div>
{% endif %}