{# @params entry, settings, sectionConfig, createEditorJs #}

{# @var entry \craft\elements\Entry #}
{# @var image \craft\elements\Asset #}
{# @var settings \wsydney76\contentoverview\models\Settings #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% set iconData = sectionConfig.getIconData(entry) %}

{% if sectionConfig.getLayout() != 'line' %}
    <div class="co-image {{ settings.enableSlideoutEditor ? 'co-slideout' }}"
         style="background-color: {{ iconData.iconBgColor }}"
         onclick="{{ createEditorJs }}">

        {% set image = sectionConfig.getImage(entry) %}

        {#{% set image = null %}
        {% set imageField = sectionConfig.getImageField(entry) %}
        {% if imageField %}
            {% set image = entry.getFieldValue(imageField).one  %}
        {% endif %}

        {% if not image %}
            {% set imageField = sectionConfig.getFallbackImageField(entry) %}
            {% if imageField %}
                {% set image = entry.getFieldValue(imageField).one  %}
            {% endif %}
        {% endif %}

        {% if not image and settings.fallbackImage %}
            {% set image = settings.fallbackImage %}
        {% endif %}#}

        {% if image %}
            {{ image.img(transform) }}
        {% else %}
            {% set icon = iconData.icon ? view.renderObjectTemplate(iconData.icon, entry) : settings.defaultIcon %}
            {{ svg(icon)|attr(settings.iconSize) }}
        {% endif %}
    </div>
{% endif %}