<div class="co-entries co-{{ layout }}-{{ column.width }}">

    {% for entry in entries %}
        <a href="{{ entry.cpEditUrl }}" target="{{ settings.linkTarget }}"
           class="co-entry {{ entry.isDraft ? 'draft' : 'published' }} {{ entry.isUnpublishedDraft ? 'provisional' }}">

            <div class="co-image">
                {% set image = null %}
                {% if sectionSettings.image is defined %}
                    {% set image = entry.getFieldValue(sectionSettings.image).one %}
                {% endif %}
                {% if image %}
                    {{ image.img(transform) }}
                {% else %}
                    {{ svg(sectionSettings.icon ?? '@appicons/newspaper.svg')|attr({width:'20px', height: '20px'}) }}
                {% endif %}
            </div>

            <div class="co-content">
                {% set style = section.type == 'structure' ? "padding-left: #{(entry.level-1)*24}px" %}
                <div class="co-title" style="{{ style }}">
                    <div>
                        <span class="status {{ entry.status }}"></span>
                    </div>
                    <div>{{ entry.title }}</div>
                </div>
                <div class="co-info">
                    {{ view.renderObjectTemplate(sectionSettings.info, entry) }}
                </div>
            </div>
        </a>
    {% else %}
        {{ 'Nothing found'|t('contentoverview') }}
    {% endfor %}
</div>