{# @params entry, settings, sectionConfig, sectionPath, ?sectionPageNo #}

{# @var settings \wsydney76\contentoverview\models\Settings #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}
{# @var action \wsydney76\contentoverview\models\Action #}


{% set actions = sectionConfig.getActions(entry) %}

{% if actions %}

    <div class="co-actions">
        {% set draftId = (not entry.isProvisionalDraft and entry.draftId) ? entry.draftId : "null" %}

        {% for action in actions %}
            {% switch action %}

            {% case "slideout" %}

                {% if settings.enableSlideoutEditor and sectionConfig.getLayout() != 'line' %}
                    <button title="{{ "Edit in slideout"|t('contentoverview') }}"
                            class="co-action-icon"
                            aria-label="{{ "Edit in slideout"|t('contentoverview') }}"
                            onclick="{{ createEditorJs }}">
                        {{ svg('@wsydney76/contentoverview/icons/slideout.svg')|attr({width: '18px', height: '18px'}) }}
                    </button>

                {% endif %}

            {% case "delete" %}

                <button title="{{ "Delete"|t('contentoverview') }}"
                        class="co-action-icon"
                        aria-label="{{ "Delete"|t('contentoverview') }}"
                        onclick="co_deleteEntry({{ entry.id }}, {{ draftId }}, '{{ entry.title }}', '{{ sectionPath }}' , {{ sectionPageNo }})">
                    {{ svg('@wsydney76/contentoverview/icons/trash.svg')|attr({width: '18px', height: '18px', stroke: 'currentColor'}) }}
                </button>

            {% case "view" %}

                {% if entry.url %}
                    {# TODO: Do it the 'official' way #}
                    {% if entry.isCanonical and entry.status == 'live' and not entry.isUnpublishedDraft %}
                        {% set frontendUrl = entry.url %}
                    {% else %}
                        {% set token = entry.uid|replace({'-':''}) %}

                        {% if not craft.app.tokens.getTokenRoute(token) %}
                            {% set token = craft.app.tokens.createPreviewToken([
                                'preview/preview', {
                                    elementType: className(entry),
                                    canonicalId: entry.canonicalId|integer,
                                    siteId: entry.siteId,
                                    draftId: entry.isDraft and not entry.isProvisionalDraft ? entry.draftId : null,
                                    revisionId: null,
                                    userId: currentUser.id
                                }], null, token
                            ) %}
                        {% endif %}

                        {% set frontendUrl = url(entry.url, {'token': token}) %}

                    {% endif %}
                    <div>
                        <a class="co-action-icon" title="{{ 'View'|t('contentoverview') }}" href="{{ frontendUrl }}"
                           target="_blank">{{ _self.displayIcon('@appicons/world.svg') }}</a>
                    </div>
                {% endif %}


            {% case "compare" %}
                
                {% if craft.app.plugins.pluginEnabled('work') and entry.draftId and not entry.isCanonical %}
                    <button type="button"  aria-label="{{ 'Compare with current'|t('contentoverview') }}" title="{{ 'Compare with current'|t('contentoverview') }}"
                            onclick="co_compare({{ entry.draftId }}, {{ entry.siteId }}, {{ entry.isProvisionalDraft ? 1 : 0 }})">
                        {{ _self.displayIcon('@wsydney76/contentoverview/icons/compare.svg') }}
                    </button>
                {% endif %}

            {% default %}
                {% if action.jsFunction %}
                    {{ _self.displayButton(action,
                        "#{action.jsFunction}('#{action.label}', #{entry.id}, #{draftId}, '#{entry.title}', '#{sectionPath}' , #{sectionPageNo})"
                    ) }}
                {% endif %}

                {% if action.cpAction %}
                    <button title="{{ action.label|t('site') }}"
                            class="co-action-icon"
                            aria-label="{{ action.label|t('site') }}"
                            onclick="co_postAction('{{ action.cpAction }}','{{ action.label }}', {{ entry.id }}, {{ draftId }}, '{{ entry.title }}', '{{ sectionPath }}' , {{ sectionPageNo }})">
                        {{ _self.displayIcon(action.icon) }}
                    </button>
                {% endif %}

                {% if action.cpUrl %}
                    <a class="co-action-icon"
                       aria-label="{{ action.label|t('site') }}"
                       href="{{ cpUrl(action.cpUrl, {elementId: entry.id, draftId: (draftId == 'null' ? null: draftId)}) }}"
                       target="_blank">
                        {{ _self.displayIcon(action.icon) }}
                    </a>
                {% endif %}
                
                {% if action.slideoutTemplate %}
                    <button title="{{ action.label|t('site') }}"
                            class="co-action-icon"
                            aria-label="{{ action.label|t('site') }}"
                            onclick="co_openSlideout('contentoverview/section/get-action-help',{
                                    template: '{{ action.slideoutTemplate }}',
                                    sectionPath: '{{ sectionPath }}',
                                    entryId: {{ entry.id }}
                                    })">
                        {{ _self.displayIcon(action.icon) }}
                    </button>
                {% endif %}

            {% endswitch %}
        {% endfor %}
    </div>
{% endif %}

{% macro displayButton(action, onclick) %}
    <button title="{{ action.label|t('contentoverview') }}"
            class="co-action-icon"
            aria-label="{{ action.label|t('contentoverview') }}"
            onclick="{{ onclick }}">
        {{ _self.displayIcon(action.icon) }}
    </button>
{% endmacro %}


{% macro displayIcon(icon) %}
    {{ svg(icon)|replace({'fill="#000000"': 'fill="#4b5563"'})|attr({width: '18px', height: '18px', stroke: 'currentColor'}) }}
{% endmacro %}
