{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

<a href="{{ entry.cpEditUrl }}" target="{{ settings.linkTarget }}"
   class="co-entry {{ entry.isDraft ? 'draft' : 'published' }} {{ entry.isUnpublishedDraft ? 'provisional' }}">


    {% if sectionConfig.layout != 'line' %}
        <div class="co-image">
            {% set image = null %}
            {% if sectionConfig.imageField %}
                {% set image = entry.getFieldValue(sectionConfig.imageField).one %}
            {% endif %}
            {% if image %}
                {{ image.img(settings.transforms[sectionConfig.layout]) }}
            {% else %}
                {{ svg(sectionConfig.icon ?? '@appicons/newspaper.svg')|attr({width:'20px', height: '20px'}) }}
            {% endif %}
        </div>
    {% endif %}


    {% set layout = sectionConfig.layout  ? sectionConfig.layout : settings.defaultLayout %}
    {% set style = section.type == 'structure' and layout in ['list','line']  ? "padding-left: #{(entry.level-1)*32}px" : '' %}

    <div class="co-content"  style="{{ style }};">
        <div class="co-status">

                {% if entry.isDraft %}
                    <div data-icon="draft" aria-hidden="true"></div>
                {% else %}
                    <div class="status {{ entry.status }}"></div>
                {% endif %}

            {% if sectionConfig.popupInfo %}
                <div class="info" tabindex="0" aria-role="button"
                      aria-label="{{ "Information"|t('contentoverview') }}">
                            {% if sectionConfig.popupInfo is string %}
                                {{ view.renderObjectTemplate(sectionConfig.popupInfo, entry)|raw }}
                            {% else %}
                                {% for info in sectionConfig.popupInfo %}
                                    <div>
                                        {{ view.renderObjectTemplate(info, entry)|raw }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
            {% endif %}
        </div>


        <div class="co-text" >
            <div class="co-title">
                {{ entry.title }}
            </div>

            <div class="co-info">
                {% if sectionConfig.info %}
                    <div>
                        {% if sectionConfig.info is string %}
                            {{ view.renderObjectTemplate(sectionConfig.info, entry)|raw }}
                        {% else %}
                            {% for info in sectionConfig.info %}
                                <div>
                                    {{ view.renderObjectTemplate(info, entry)|raw }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

                {% if sectionConfig.infoTemplate %}
                    {{ view.renderTemplate(sectionConfig.infoTemplate, {entry}, 'site')|raw }}
                {% endif %}
            </div>
        </div>
    </div>
</a>