<a href="{{ entry.cpEditUrl }}" target="{{ settings.linkTarget }}"
   class="co-entry {{ entry.isDraft ? 'draft' : 'published' }} {{ entry.isUnpublishedDraft ? 'provisional' }}">

    <div class="co-image">
        {% set image = null %}
        {% if sectionSettings.imageField is defined %}
            {% set image = entry.getFieldValue(sectionSettings.imageField).one %}
        {% endif %}
        {% if image %}
            {{ image.img(transform) }}
        {% else %}
            {{ svg(sectionSettings.icon ?? '@appicons/newspaper.svg')|attr({width:'20px', height: '20px'}) }}
        {% endif %}
    </div>
    {% set style = section.type == 'structure' and layout == 'list' ? "padding-left: #{(entry.level-1)*24}px" %}
    <div class="co-content"  style="{{ style }};">

        <div class="co-status">

                {% if entry.isDraft %}
                    <div data-icon="draft" aria-hidden="true"></div>
                {% else %}
                    <div class="status {{ entry.status }}"></div>
                {% endif %}

            {% if sectionSettings.popupInfo is defined %}
                <div class="info" tabindex="0" aria-role="button"
                      aria-label="{{ "Information"|t('contentoverview') }}">
                            {% if sectionSettings.popupInfo is string %}
                                {{ view.renderObjectTemplate(sectionSettings.popupInfo, entry)|raw }}
                            {% else %}
                                {% for info in sectionSettings.popupInfo %}
                                    <div>
                                        {{ view.renderObjectTemplate(info, entry)|raw }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
            {% endif %}
        </div>


        <div class="co-text" >
            <div class="co-title">
                {{ entry.title }}
            </div>

            <div class="co-info">
                {% if sectionSettings.info is defined %}
                    <div>
                        {% if sectionSettings.info is string %}
                            {{ view.renderObjectTemplate(sectionSettings.info, entry)|raw }}
                        {% else %}
                            {% for info in sectionSettings.info %}
                                <div>
                                    {{ view.renderObjectTemplate(info, entry)|raw }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</a>