{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

<div class="co-entry {{ entry.isDraft ? 'draft' : 'published' }} {{ entry.isUnpublishedDraft ? 'provisional' }}">


    {% include [
        '_contentoverview/partials/entry_image.twig',
        'contentoverview/partials/entry_image.twig'
    ] %}


    {% set layout = sectionConfig.layout  ? sectionConfig.layout : settings.defaultLayout %}
    {% set style = entry.level and layout in ['list','line']  ? "padding-left: #{(entry.level-1)*32}px" : '' %}

    <div class="co-content" style="{{ style }};">
        <div class="co-status" ondblclick="co_createElementEditor(
            {{ entry.canonicalId }},
            {{ entry.siteId }},
            {{ (not entry.isProvisionalDraft and entry.draftId) ? entry.draftId : "null" }},
            '{{ sectionPath }}',
            {{ pageNo }})">

            {% include [
                '_contentoverview/partials/entry_status.twig',
                'contentoverview/partials/entry_status.twig'
            ] %}

            {% include [
                '_contentoverview/partials/entry_popupInfo.twig',
                'contentoverview/partials/entry_popupInfo.twig'
            ] %}

        </div>
        <div class="co-text">
            <div class="co-title">
                <a href="{{ entry.cpEditUrl }}" target="{{ settings.linkTarget }}">{{ entry.title }}</a>
            </div>

            <div class="co-info">
                {% include [
                    '_contentoverview/partials/entry_info.twig',
                    'contentoverview/partials/entry_info.twig'
                ] %}
            </div>
        </div>
    </div>
</div>