{# @params entry, settings, sectionConfig, sectionPath, sectionPageNo #}

{# @var entry \craft\elements\Entry #}
{# @var settings \wsydney76\contentoverview\models\Settings #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% set createEditorJs = include('contentoverview/js/createEditorJs.twig', {entry}) %}

<div class="co-entry {{ entry.isDraft ? 'draft' : 'published' }} {{ entry.isUnpublishedDraft ? 'provisional' }}">

    {% include [
        '_contentoverview/partials/entry_image.twig',
        'contentoverview/partials/entry_image.twig'
    ] %}

    {% set layout = sectionConfig.getLayout() %}
    {% set levelStyle = entry.level and layout in ['list','line']  ? "padding-left: #{(entry.level-1)*32}px" : '' %}

    <div class="co-content co-level-{{ entry.level }}" style="{{ levelStyle }};">
        <div class="co-status" ondblclick="{{ createEditorJs }}">

            {% include [
                '_contentoverview/partials/entry_status.twig',
                'contentoverview/partials/entry_status.twig'
            ] %}

        </div>
        <div class="co-text"  style="width:100%">
            <div class="co-title " style="width:100%">

                {% include [
                    '_contentoverview/partials/entry_title.twig',
                    'contentoverview/partials/entry_title.twig'
                ] %}
            </div>

            <div class="co-info">
                {% include [
                    '_contentoverview/partials/entry_info.twig',
                    'contentoverview/partials/entry_info.twig'
                ] %}
            </div>


            {% include [
                '_contentoverview/partials/entry_actions.twig',
                'contentoverview/partials/entry_actions.twig'
            ] %}

        </div>
    </div>
</div>