{# @params sectionConfig, filters, orderByOptions #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% import '_includes/forms' as forms %}

{% for filter in filters %}

    <div>

        {% set name = "#{sectionPath}-filter" %}

        {% if filter.useElementSelect %}

            {% set elementSelectId = (name ~ '-elementSelect-' ~ filter.handle)|id %}
            {% set filterInputId = (name ~ '-elementInput-' ~ filter.handle)|id %}


            {# Hidden input that lets us handle an elementSelect like a select input  #}
            {# Value is set via JavaScript #}
            {{ forms.hidden({
                id: filterInputId,
                name: name,
                inputAttributes: {
                    data: {
                        'handle': filter.handle
                    }
                }
            }) }}
            
            {{ forms.elementSelect({
                id: elementSelectId,
                name: "#{sectionPath}-elementIds-#{filter.handle}",
                elementType: filter.elementType,
                sources: filter.getSources(),
                selectionLabel: 'Filter by'|t('contentoverview') ~ ': ' ~ filter.getLabel|t('site'), value: '',
                limit: filter.selectLimit,

            }) }}

            {# Listen for change events, update our hidden input and refresh section html #}
            {% js %}
            co_registerElementSelect('{{ elementSelectId }}', '{{ filterInputId }}', '{{ sectionPath }}')
            {% endjs %}

        {% else %}

            {% set config = {
                name: name,
                options: filter.getOptions()
                    .prepend({label: 'Filter by'|t('contentoverview') ~ ': ' ~ filter.getLabel|t('site'), value: ''}),
                inputAttributes: {
                    data: {
                        'handle': filter.handle
                    },
                    onchange: "co_getSectionHtml('#{ sectionPath }')"
                }
            } %}

            {% if filter.useSelectize %}
                {{ forms.selectize(config) }}
            {% else %}
                {{ forms.select(config) }}
            {% endif %}
        {% endif %}


    </div>
{% endfor %}

