{# @params sectionConfig #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}


{% set permittedSections = sectionConfig.getPermittedSections('saveentries') %}
<div>
    {% if permittedSections|length == 1 %}
        {% set section = permittedSections[0] %}
        <a class="btn submit add icon" href="{{ cpUrl("entries/#{section}/new") }}">
            {{ "New entry"|t('contentoverview') }}
        </a>
    {% else %}
        <div class="btngroup">
            <button class="btn submit add icon">{{ "New entry"|t('contentoverview') }}</button>
            {% set menuId = "more-actions-menu-#{random()}" %}
            <button type="button" class="btn submit menubtn"
                    aria-label="{{ 'More actions'|t('app') }}"
                    aria-controls="{{ menuId }}"></button>
            <div class="menu menu--disclosure">
                <ul>
                    {% for section in permittedSections %}
                        <li>
                            <a href="{{ cpUrl("entries/#{section}/new") }}">
                                {{ "New entry in"|t('contentoverview') }} "{{ craft.app.sections.sectionByHandle(section).name|t('site') }}"
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>