{% set permittedSections = sectionConfig.getPermittedSections('saveentries') %}
<div>
    {% if permittedSections|length == 1 %}
        {% set section = permittedSections[0] %}
        <a class="btn submit" href="{{ cpUrl("entries/#{section}/new") }}">
            {{ "New"|t }}
            {{ craft.app.sections.sectionByHandle(section).name }}
        </a>
    {% else %}
        <div class="btngroup">
            <button class="btn submit">{{ "New entry"|t('overview') }}</button>
            {% set menuId = "more-actions-menu-#{random()}" %}
            <button type="button" class="btn submit menubtn"
                    aria-label="{{ 'More actions'|t('app') }}"
                    aria-controls="{{ menuId }}"></button>
            <div class="menu menu--disclosure">
                <ul>
                    {% for section in permittedSections %}
                        <li>
                            <a href="{{ cpUrl("entries/#{section}/new") }}">
                                {{ craft.app.sections.sectionByHandle(section).name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>