{# @params sectionConfig, sectionPath, sectionPageNo #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}
{# @var settings \wsydney76\contentoverview\models\Settings #}

{% set permittedSections = sectionConfig.getPermittedSections('saveentries') %}
<div>

    {% set siteHandle = craft.app.request.queryParam('site') %}
    {% set site = siteHandle ? craft.app.sites.siteByHandle(siteHandle) : craft.app.sites.primarySite %}
    {% set useSlideout = settings.userSetting('enableCreateInSlideoutEditor') %}

    {% if permittedSections|length == 1 %}
        {% set section = permittedSections[0] %}
        {% if useSlideout %}
            <button class="btn submit add icon" onclick="co_createEntry('{{ section }}', {{ site.id }}, '{{ sectionPath }}', {{ sectionPageNo }})">
                {{ "New entry"|t('contentoverview') }}
            </button>
        {% else %}
            <a class="btn submit add icon" href="{{ cpUrl("entries/#{section}/new") }}">
                {{ "New entry"|t('contentoverview') }}
            </a>
        {% endif %}
    {% else %}
        <div class="btngroup">
            <button class="btn submit add icon">{{ "New entry"|t('contentoverview') }}</button>
            {% set menuId = "more-actions-menu-#{random()}" %}
            <button type="button" class="btn submit menubtn"
                    aria-label="{{ 'More actions'|t('app') }}"
                    aria-controls="{{ menuId }}"></button>
            <div class="menu menu--disclosure">
                <ul>
                    {% for section in permittedSections %}
                        <li>
                            {% if useSlideout %}
                                <button onclick="co_createEntry('{{ section }}', {{ site.id }}, '{{ sectionPath }}', {{ sectionPageNo }})">
                                    {{ "New entry in"|t('contentoverview') }}
                                    "{{ craft.app.sections.sectionByHandle(section).name|t('site') }}"
                                </button>
                            {% else %}
                                <a href="{{ cpUrl("entries/#{section}/new") }}">
                                    {{ "New entry in"|t('contentoverview') }}
                                    "{{ craft.app.sections.sectionByHandle(section).name|t('site') }}"
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>