{% import '_includes/forms' as forms %}

{% set inputId = "#{sectionPath}-search" %}
{% set selectId = "#{sectionPath}-search-attribute" %}

<div class="co-search-container">

    {% if sectionConfig.filters %}
        {% include 'contentoverview/partials/filters.twig' %}
    {% endif %}

    {% if sectionConfig.searchAttributes %}
        <div>
            {{ forms.select({
                id: selectId ,
                options: sectionConfig.searchAttributes|map(option => {label: option.label|t('site'), value: option.value})
            }) }}
        </div>
    {% endif %}


        {{ forms.text({
            id: inputId,
            class: "co-search",
            placeholder: 'Search'|t('contentoverview') ~ '...'
        }) }}


    <button class="btn" onclick="co_resetSearch('{{ sectionPath }}')">{{ "Reset"|t('contentoverview') }}</button>
    <button class="btn" onclick="co_getSectionHtml('{{ sectionPath }}')">{{ "Search"|t('contentoverview') }}</button>
</div>

{% js %}
co_registerSearchInput('{{ sectionPath }}')
{% endjs %}