{# @params sectionConfig, settings, sectionPath, column #}

{# @var settings \wsydney76\contentoverview\models\Settings #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}
{# @var results \craft\db\Paginator #}

{% set layout = sectionConfig.getLayout() %}
{% set transform = sectionConfig.getTransform() %}
{% set size = sectionConfig.getSize() %}



{% set loadAsync = settings.loadSectionsAsync %}

{% embed 'contentoverview/embeds/section.twig' with {
    heading: sectionConfig.getHeading()|t('site'),
    linkToPage: sectionConfig.linkToPage,
    layout
} %}

    {% block headingButtons %}
        {% if sectionConfig.showNewButton %}
            {% include [
                '_contentoverview/partials/newentriesButtons.twig',
                'contentoverview/partials/newentriesButtons.twig'
            ] %}
        {% endif %}
    {% endblock %}

    {% block content %}


        {% set permittedSections = sectionConfig.getPermittedSections('viewentries') %}
        {% if permittedSections %}


            {% include [
                '_contentoverview/partials/toolbar.twig',
                'contentoverview/partials/toolbar.twig'
            ] %}

            <div id="{{ sectionPath }}" class="co-entries-wrapper">
                <div class="co-entries co-{{ layout }} co-{{ size }} co-{{ layout }}-{{ column.width }}">

                    {% if not loadAsync %}
                        {% set results = sectionConfig.entries %}
                        {% include [
                            "_contentoverview/partials/#{sectionConfig.entriesTemplate}",
                            "contentoverview/partials/#{sectionConfig.entriesTemplate}"
                        ] with {
                            entries: results.pageResults
                        } %}
                    {% endif %}

                </div>
                <div>
                    {% if not loadAsync %}
                        {% include [
                            '_contentoverview/partials/paginate.twig',
                            'contentoverview/partials/paginate.twig'
                        ] %}
                    {% endif %}
                </div>

                {% if loadAsync and settings.showLoadingIndicator %}
                    <div id="{{ sectionPath }}-spinner" class="spinner-overlay">
                        <div class="spinner">
                        </div>
                    </div>
                {% endif %}

            </div>

            {% if sectionConfig.showIndexButton %}
                <div class="co-btns">
                    {% include [
                        '_contentoverview/partials/listentriesButtons.twig',
                        'contentoverview/partials/listentriesButtons.twig'
                    ] %}
                </div>
            {% endif %}
        {% else %}
            {{ 'No permission to view entries'|t('contentoverview') }}
        {% endif %}

    {% endblock %}

{% endembed %}



{% if loadAsync %}
    {% js %}
    respondToVisibility(document.getElementById('{{ sectionPath }}'), visible => {
    console.log('Loading section {{ sectionPath }} ')
    co_getSectionHtml('{{ sectionPath }}')
    })
{% endjs %}
{% endif %}