{# @params settings #}

{# @var settings \wsydney76\contentoverview\models\Settings #}
{# @var page \wsydney76\contentoverview\models\Page #}


{% set navPages = settings.getPages(true) %}
{% if navPages.count %}
    <nav aria-label="{{ settings.pluginTitle }} {{ 'Pages'|t('contentoverview') }}">
        <ul>
            {% for currentPage in navPages %}

                {% if currentPage.heading %}
                    <li class="heading">
                        <span>{{ currentPage.heading|t('site') }}</span>
                    </li>
                {% else %}
                    <li>

                        <a class="{{ currentPage.url == page.url ? 'sel' }}"
                           href="{{ cpUrl(currentPage.url) }}">

                            {% if currentPage.icon %}
                                <span class="icon icon-mask" aria-hidden="true">
                                {{ svg(currentPage.icon)|attr({width: '100px', height: '100px'}) }}
                            </span>
                            {% endif %}
                            <span>{{ currentPage.label }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}