{# @var settings \wsydney76\contentoverview\models\Settings #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}
{# @var results \craft\db\Paginator #}

{% for column in tab.columns %}

    {% set columnIndex = loop.index0 %}

    <div class="co-column-{{ column.width }}">
        {% for sectionConfig in column.sections %}

            {% set sectionIndex = loop.index0 %}
            {% set sectionPath = "#{page}-#{tabIndex}-#{columnIndex}-#{sectionIndex}" %}

            {% set section = craft.app.sections.sectionByHandle(sectionConfig.section) %}
            {% set layout = sectionConfig.layout  ? sectionConfig.layout : settings.defaultLayout %}

            {% set transform = settings.transforms[layout] %}

            {% set showButtons = sectionConfig.buttons %}

            <div class="co-section co-{{ layout }}">

                <div class="co-btns">
                    {% set heading = sectionConfig.getHeading()|t('site') %}
                    <h2>
                        {% if sectionConfig.linkToPage %}
                            <a class="go"
                               href="{{ cpUrl("contentoverview/#{sectionConfig.linkToPage}") }}">{{ heading }}</a>
                        {% else %}
                            {{ heading }}
                        {% endif %}
                    </h2>

                    {% if showButtons and sectionConfig.userCanSave %}
                        <a class="btn submit" href="{{ cpUrl("entries/#{section.handle}/new") }}">
                            {{ "New entry"|t('contentoverview') }}
                        </a>
                    {% endif %}
                </div>

                {% if sectionConfig.userCanView %}
                    {% set results = sectionConfig.entries %}

                    {% if sectionConfig.search %}
                        {% set inputId = "#{sectionPath}-search" %}
                        <div class="co-search-container">
                            <input type="text"
                                   id="{{ inputId }}"
                                   class="co-search text fullwidth"
                                   placeholder="{{ 'Search'|t('contentoverview') }} ..."
                            >
                            <button class="btn" onclick="co_resetSearch('{{ sectionPath }}')">{{ "Reset"|t }}</button>
                            <button class="btn" onclick="co_getSectionHtml('{{ sectionPath }}')">{{ "Search"|t }}</button>
                        </div>
                    {% endif %}

                    <div id="{{ sectionPath }}">
                        <div class="co-entries co-{{ layout }}-{{ column.width }}">

                            {% include 'contentoverview/partials/section.twig' with {
                                sectionConfig,
                                settings,
                                entries: results.pageResults
                            } only %}

                        </div>

                        {% if results.totalPages > 1 %}
                            <div>
                                {% include 'contentoverview/partials/paginate.twig' with {
                                    sectionPath,
                                    results
                                } only %}
                            </div>
                        {% endif %}

                    </div>

                    {% if showButtons %}
                        <div class="co-btns">
                            <a class="btn" href="{{ cpUrl("entries/#{section.handle}") }}">
                                {{ "All entries"|t('contentoverview') }}
                            </a>
                        </div>
                    {% endif %}

                {% else %}
                    {{ 'No permission to view entries'|t('contentoverview') }}
                {% endif %}

            </div>

        {% endfor %}
    </div>
{% endfor %}