{# @var settings \wsydney76\contentoverview\models\Settings #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% for column in tab.columns %}

    <div class="co-column-{{ column.width }}">
        {% for sectionConfig in column.sections %}

            {% set sectionConfig = craft.contentoverview.normalizesectionConfig(sectionConfig) %}

            {% set section = craft.app.sections.sectionByHandle(sectionConfig.section) %}
            {% set layout = sectionConfig.layout ?? settings.defaultLayout %}
            {% set transform = settings.transforms[layout] %}
            {% set heading = sectionConfig.heading ?? section.name %}
            {% set showButtons = sectionConfig.buttons is defined ? sectionConfig.buttons : true %}

            <div class="co-section co-{{ layout }}">


                {% set userCanView = currentUser.can("viewentries:#{section.uid}") %}
                {% set userCanSave = currentUser.can("saveentries:#{section.uid}") %}


                <div class="co-btns">
                    <h2>{{ heading|t('site') }}</h2>
                    {% if showButtons and userCanSave %}
                        <a class="btn submit" href="{{ cpUrl("entries/#{section.handle}/new") }}">
                            {{ "New entry"|t('contentoverview') }}
                        </a>
                    {% endif %}
                </div>

                {% if userCanView %}
                    {% set results = sectionConfig.entries %}
                    {% set entries = results.entries %}

                    <div class="co-entries co-{{ layout }}-{{ column.width }}">

                        {% for entry in entries %}
                            {% include 'contentoverview/partials/entry.twig' %}
                        {% else %}
                            {{ 'Nothing found'|t('contentoverview') }}
                        {% endfor %}

                    </div>

                    {% if sectionConfig.limit is defined and results.count > sectionConfig.limit %}
                        <div class="co-count">
                            {{ results.count - sectionConfig.limit }} {{ "more entries"|t }}
                        </div>
                    {% endif %}


                    {% if showButtons %}
                        <div class="co-btns">
                            <a class="btn" href="{{ cpUrl("entries/#{section.handle}") }}">
                                {{ "All entries"|t('contentoverview') }}
                            </a>
                        </div>
                    {% endif %}

                {% else %}
                    {{ 'No permission to view entries'|t('contentoverview') }}
                {% endif %}

            </div>

        {% endfor %}
    </div>
{% endfor %}