{# @var settings \wsydney76\contentoverview\models\Settings #}
{% set settings = craft.contentoverview.settings %}

<p>
    {{ settings.widgetText|t('site') }}
</p>

{% set pages = settings.getPages() %}


{% for key, page in pages %}
    {% if pages.count > 1 %}
        <h3>{{ page.label }}</h3>
    {% endif %}
    {% for tab in settings.getTabs(key) %}
        <a class="btn" href="{{ cpUrl(page.url) }}#{{ tab.id }}">{{ tab.label }}</a>
    {% endfor %}
{% endfor %}


