{# @params layout, linkToPage, permittedSections #}

<div class="co-section {{ layout is defined ? "co-#{layout}" }}">
    <div class="co-btns">
        <h2>
            {% if linkToPage %}
                <a class="go"
                   href="{{ cpUrl("contentoverview/#{linkToPage}") }}">{{ heading }}</a>
            {% else %}
                {{ heading }}
            {% endif %}
        </h2>
        <div class="co-heading-actions">
            {% if sectionConfig.showRefreshButton and sectionPath is defined and permittedSections %}

                <button id="{{ sectionPath }}-refresh-button" class="btn co-refresh-button" type="button" onclick="co_getSectionHtml('{{ sectionPath }}', 1, true)"
                        title="{{ "Refresh"|t('contentoverview') }}" aria-label="{{ "Refresh"|t('contentoverview') }}">
                    <div class="label">
                        {{ svg('@wsydney76/contentoverview/icons/refresh.svg') }}
                    </div>
                    <div class="spinner spinner-absolute"></div>
                </button>

            {% endif %}
            <div class="co-heading-buttons">
                {% block headingButtons %}{% endblock %}
            </div>
        </div>
    </div>

    <div>
        {% block content %}

        {% endblock %}
    </div>
</div>
