{# @params layout, linkToPage, permittedSections #}

<div class="co-section {{ layout is defined ? "co-#{layout}" }}">
    <div class="co-btns">
        
        <input type="hidden"
               id="{{ sectionPath }}-params" 
               value="{{ craft.app.request.queryParams|json_encode }}">
        
        <h2>
            {% if linkToPage %}
                <a class="go"
                   href="{{ cpUrl("contentoverview/#{linkToPage}") }}">{{ heading }}</a>
            {% else %}
                {{ heading }}
            {% endif %}
        </h2>
        <div class="co-heading-actions">
            {% if sectionConfig.showRefreshButton and sectionPath is defined and permittedSections %}

            {% include [
                '_contentoverview/partials/refresh-button.twig',
                'contentoverview/partials/refresh-button.twig'
            ] %}

            {% endif %}
            <div class="co-heading-buttons">
                {% block headingButtons %}{% endblock %}
            </div>
        </div>
    </div>

    {% block help %}
        {% include 'contentoverview/partials/section_help.twig' %}
    {% endblock %}

    <div>
        {% block content %}

        {% endblock %}
    </div>
</div>
